<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Dog Breed Classifier</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #420059;">
        <a class="navbar-brand" href="#">Dog Breed Classifier</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#" onclick="sendAlert()">Prediction</a>
            
          </div>
        </div>
      </nav>

      <div class = "col-12" style="padding-top: 120px; padding-left: 70px; padding-right: 70px;">
        <div class="jumbotron">
          <h1 class="display-4">Choose an image of a dog or a human face</h1>
          <p class="lead">If it's a dog, we'll determine the most likely breed. If it's a human face, we'll determine the most resembling dog breed.</p>
         
        </div>
      </div>
      <div class = "col-6" style="padding-top: 15px; padding-left: 70px; margin-bottom: 60px;">
        <form action="{{ url_for('predict_from_file') }}" method="post" enctype="multipart/form-data" >
          <div class="form-group">
            <label for="exampleFormControlFile1">Choose an image from your computer</label>
            <input type="file" class="form-control-file btn btn-primary" style="background-color: #E9ECEF; border: 1px solid #E9ECEF; width: min-content; color: #6C757D;" name="file" id="exampleFormControlFile1">
          </div>
          <button type="submit" class="btn btn-primary" style="background-color: #420059; border: 1px solid #420059;" >Predict Breed</button>

        </form>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
      function sendAlert(){
        alert("Add an image and click Predict Breed to see prediction");
      }
      
    </script>
  </body>
</html>